main{
    background-color: rgba(198, 236, 248, 0.996);
    min-height: 300px;
    text-align: center;
    font-size: 40px;
    max-width: 1000px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px black;
}
h1{
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
    background-color: rgba(134, 178, 219, 0.663);
    margin: auto;
    max-width: 700px;
    align-self: auto;
    box-shadow: 3px 3px 8px 3px black;
    border-radius: 20px;
    color: whitesmoke;
}
body{
    background-color: rgba(20, 99, 168, 0.611);
    
}