body {
    background: linear-gradient(#224468, #162C45) no-repeat center center fixed;
    background-size: cover;
}

.container {
    max-width: 1440px;
}



.modal-content {
    background-image: linear-gradient(#22446B, #162C45);
    border-radius: 25px;
}


.modal-header {
    padding-top: 43px;
    color: white;
}

.modal-header>h1{
    background: none;
    color: white;
}

.btn-close {
    color: #fff;
    background: url('../img/btn-close.svg') no-repeat center center;
    box-sizing: content-box;
    width: 0.5em;
    height: 0.5em;
    padding: 0.25em;
}


.custom-textarea {
    resize: none;
    overflow: hidden;
}


small {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 120%;
}


.btn-danger {
    background: #800000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}



header {
    background: linear-gradient(to right, #162C45, #22446B);
}


.ceg-nev,
.nav-link,
.dropdown-item {
    font-family: 'Abril Fatface', serif;
    font-size: 16px;
    font-weight: normal;
}

.ceg-nev {
    font-size: 24px;
    font-weight: bold;
    color: #800000;
}

.ceg-nev:hover{
    color: #800000;
}

.nav-link {
    color: white;
}

.nav-link:hover,
.nav-link:active {
    color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #800000;
}

.dropdown-item.active {
    color: #fff;
    background-color: #800000;
}


.toggler-icon{
    width: 30px;
    height: 3px;
    border-radius: 9px;
    background: #e74c3c;
    display: block;
    transition: all 0.3s ease-in-out;
}


.dropdown-toggle::after {
    display: none !important;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.middle-bar{
    margin: 5px auto;
}

.navbar-toggler .top-bar {
    transform: translateY(-0.5px) translateX(0.75px) rotate(45deg); 
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: translateY(0.5px) translateX(-0.75px) rotate(-45deg); 
    transform-origin: 10% 10%;
}

.navbar-toggler.collapsed .top-bar{
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon{
    background: #f4f4f4;
}


@media (max-width: 576px) {
    .navbar-brand {
        order: -2;
    }

    .navbar-collapse {
        order: 1;
    }

    .nav-link{
        padding: 8px 0 8px 10px;
    }

    .dropdown {
        order: -1;
        margin: 0 0 0 200px;
    }

    .dropdown-menu {
        right: auto;
        left: 0;
    }
}

@media (max-width: 450px) {
    .dropdown {
        margin: 0 0 0 30px;
    }
}

@media (max-width: 391px) {
    .dropdown {
        margin: 0 0 0 25px;
    }
}

@media (max-width: 361px) {
  .dropdown {
        margin: 0 0 0 10px;
    }
}

@media (max-width: 320px) {
    .ceg-nev {
        font-size: 20px;
    }

    .dropdown {
        margin: 0 0 0 0;
    }
}



.container.tartalom {
    margin: 33vh auto;
}

.btn {
    padding: 3px 5px;
    background-color: #800000;
    border: #650000 solid 1px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

@media (max-width: 575px) {
    .btn-margin{
        margin: 15px 0 0 0;
    }
    div.text-end{
        padding: 0 60px 0 12px;
    }
}

@media (max-width: 320px) {
    .btn-margin1 {
        margin: 10px 0 0 0;
    }
}