.dropdown-toggle::after {
    display: none !important;
}

.container {
    max-width: 1440px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #800000;
}

.ceg-nev {
    font-family: "Abril Fatface", serif;
    font-size: 24px;
    font-weight: bold;
    color: #800000;
}

.ceg-nev:hover{
    color: #800000;
}

.nav-link {
    font-family: 'Abril_Farface', serif;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}

header {
    background-image: linear-gradient(to right, #162C45, #22446B);
}



.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.toggler-icon{
    width: 30px;
    height: 3px;
    border-radius: 9px;
    background: #e74c3c;
    display: block;
    transition: all 0.4s ease-in-out;
}

.middle-bar{
    margin: 5px auto;
}

.navbar-toggler .top-bar {
    transform: translateY(-0.5px) translateX(0.75px) rotate(45deg); /* Módosítás */
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: translateY(0.5px) translateX(-0.75px) rotate(-45deg); /* Módosítás */
    transform-origin: 10% 10%;
}

.navbar-toggler.collapsed .top-bar{
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon{
    background: #f4f4f4;
}

@media (max-width: 576px) {
    .navbar-brand {
        order: -2;
    }

    .navbar-collapse {
        order: 1;
    }

    .nav-link{
        padding: 8px 0 8px 10px;
    }

    .dropdown {
        order: -1;
        margin: 0 0 0 200px;
    }

    .dropdown-menu {
        right: auto;
        left: 0;
    }
}

@media (max-width: 450px) {
    .dropdown {
        margin: 0 0 0 60px;
    }
}

@media (max-width: 391px) {
    .dropdown {
        margin: 0 0 0 25px;
    }
}

@media (max-width: 361px) {
  .dropdown {
        margin: 0 0 0 10px;
    }
}

@media (max-width: 320px) {
    .ceg-nev {
        font-size: 20px;
    }

    .dropdown {
        margin: 0 0 0 0;
    }
}