body{
    background: linear-gradient(#224468, #162C45) no-repeat center center fixed;
    background-size: cover;
}

.container-fluid {
    padding: 0 0 20px 0;
}

.container {
    max-width: 1440px;
}



.custom-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-nav li {
    margin-right: 5px;
}

.custom-nav a {
    text-decoration: none;
    color: #fff;
}

.dropdown-item.active {
    color: #fff;
    background-color: #800000;
}



.ceg-logo {
    height: 40px;
}

@font-face {
    font-family: 'Abril_Farface';
    src: url('../font/Abril_Fatface.zip');
}

.ceg-nev {
    font-family: 'Abril_Farface', serif;
    font-size: 24px;
    font-weight: bold;
    color: #800000;
}

.nav-link {
    font-family: 'Abril_Farface', serif;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}

.active {
    color: #fff;
    text-decoration: underline;
}

.profile {
    height: 28px;
}

header {
    background-image: linear-gradient(to right, #162C45, #22446B);
}

.animated-icon1,
.animated-icon2,
.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .24s ease-in-out;
    -moz-transition: .24s ease-in-out;
    -o-transition: .24s ease-in-out;
    transition: .24s ease-in-out;
}


.animated-icon2 span {
    background: black;
}

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.navbar .navbar-toggler {
    border-width: 0;
}

.navbar-toggler {
    background-color: transparent;
}

button#button {
    order: 1;
}

img#profil {
    order: 2;
}

@media (max-width: 420px) {
    button#button {
        order: 2;
    }

    img#profil {
        order: 1;
    }
}


#myChart {
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: block;
}

#szazalekChart {
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: block;
}