#profile-bx {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 15px;
    background-color: var(--bright-white-t);
    border-radius: 25pt;
    border: 8px solid var(--bright-white);
    overflow: hidden;
    box-shadow: var(--light-shadow-reversed);
    -webkit-box-shadow: var(--light-shadow-reversed);
    -moz-box-shadow: var(--light-shadow-reversed);
    overflow: hidden;
}

.profile-row {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 25px;
    width: 100%;
    z-index: 2;
}

#profile-header {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    gap: 25px;
}

.header-name {
    white-space: nowrap;
    text-align: center;
    color: var(--bright-white);
    font-size: 30px;
    opacity: .8;
    overflow: hidden;
}

#user-profile {
    height: 100%;
    width: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center center;
}

#user-profile-bx {
    display: flex;
    height: 8rem;
    width: 8rem;
    margin: 5px;
    background-color: var(--mid-gray-t);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3.5rem;
    border-radius: 50%;
    border: 6px solid var(--brighter-gray);
    overflow: hidden;
    z-index: 1;
}

.user-header {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    gap: 20px;
}

#personal-tab-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.inpbx {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 25rem;
    width: 100%;
    gap: 4px;
}

.inpPH {
    margin: 0 3px;
    color: var(--bright-white);
    opacity: .55;
    font-weight: 500;
}

.swap-bubble {
    visibility: hidden;
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: var(--brighter-gray);
    border-radius: 50%;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    background-image: url('../assets/swap.svg');
    box-shadow: var(--light-shadow-out);
    -webkit-box-shadow: var(--light-shadow-out);
    -moz-box-shadow: var(--light-shadow-out);
    margin: 11px;
    opacity: 0;
    z-index: 5;
    transition: all .4s ease;
}

#replaceIcL {
    display: flex;
    justify-content: center;
    position: relative;
}

[for="replace_icon"] {
    cursor: pointer;
    transition: all .4s ease;
}

[for="replace_icon"]:hover {
    filter: brightness(125%);
}

.replaceBx {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    justify-content: center;
}

#replaceInt {
    display: flex;
    height: 0rem;
    visibility: hidden;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    transition: all .2s ease;
    opacity: 0;
}

#showpasscopy {
    display: flex;
    height: 2.5rem;
    width: 100%;
    transition: all .5s ease;
}

.textareabx {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    #profile-bx {
        padding: 0;
    }

    #profile-header {
        width: 100%;
    }

    .profile-row {
        justify-content: center;
    }

    .user-header {
        width: 100%;
    }

    .tab-bar {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .user-header {
        flex-direction: column;
    }
}