.rowgomb {
    justify-content: space-between; 
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.atiranyito{
    max-width: 47%;
    height: 90px;
}

.vezerlopanel {
    text-align: center;
    margin: auto;
    width: 60%; 
    height: 50vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.kilep{
    max-width: 110px;
    position: absolute;
    right: 10px;
}
main{
    margin-bottom: 280px;
}