h1 {
    text-align: center;
    padding: 5rem;
}

h3 {
    margin-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.aszf p {
    margin-left: 10rem;
    margin-right: 10rem;
    text-indent: 3rem;
}