#orderForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#orderForm h1 {
    text-align: center;
    padding: 5rem;
}

.form-columns {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
}

.form-column {
    flex: 0 0 calc(50% - 10px);
    margin: 0 5px;
}

#orderForm label {
    font-size: 1.8rem;
}

#orderForm input[type="text"],
#orderForm input[type="number"] {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    box-sizing: border-box;
}

#orderForm button {
    display: inline-block;
    background-color: var(--main-color);
    color: var(--white);
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 0.5rem;
}

#orderForm button:hover {
    color: var(--main-color);
    background-color: var(--white);
    transition: all 300ms ease-in-out;
    transform: scaleX(1.02);
}

@media screen and (max-width: 527px) {
    .form-columns {
      flex-direction: column;
      align-items: center;
    }
  
    .form-column {
      flex: 1 1 100%;
      margin: 0;
    }
  }
  