@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  /* --black: #222; */
  --green: #6ebe02;
  --grey1: #f0f0f0;
  --grey2: #e9d7d3;

  --main-color: #4D5061;
  --black: #13131a;
  --bg: #CCCCCC;
  --border: .1rem solid rgba(255, 255, 255.3);
  --orange: orange;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  background-color: var(--bg);
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.d-flex {
  display: flex;
  align-items: center;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/stylish-scandinavian-living-room-with-design-mint-sofa-furnitures-mock-up-poster-map-plants-eleg.jpg) no-repeat;
  background-size: cover;
  background-position: center;

  z-index: 0;
  justify-content: center;
  position: relative;
}

.home::before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home .content {
  max-width: 60rem;
  z-index: 2;
  text-align: center;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--white);
}

.home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--white);
  background: var(--main-color);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 0.5rem;
}

.btn:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.section {
  padding: 10rem 0 5rem 0;
  overflow: hidden;
}

.cat-center {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 114rem;
  margin: auto;
  padding: 0 3rem;
}

.cat-center .cat {
  max-width: 37rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  text-align: center;
}

.cat-center .cat:not(:last-child) {
  margin-right: 3rem;
}

.cat-center .cat img {
  width: 36.5rem;
  height: 100%;
  margin: auto;
  object-fit: cover;
  transition: all 2s ease;
}

.cat-center .cat:hover img {
  transform: scale(1.1);
}

.cat-center .cat div {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  width: 15rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 1rem;
  transition: all 1s ease-in-out;
}

.cat-center .cat div:hover {
  letter-spacing: 0.3rem;
  transition: all 1s ease-in-out;
}

.heading {
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 4rem;
  margin: 5rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.category {
  background-color: rgba(233, 215, 211, 0.5);
}

#kategoria {
  scroll-margin-top: 120px;
}


@media (max-width: 1200px) {
  .cat-center .cat img {
    width: 30rem;
  }
}

@media (max-width: 967px) {
  .cat-center .cat {
    max-width: 25rem;
    height: 20rem;
  }

  .cat-center .cat img {
    width: 25rem;
  }
}

@media (max-width: 768px) {
  .cat-center {
    flex-direction: column;
    padding: 3rem;
  }

  .cat-center .cat {
    max-width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 5rem;
  }

  .cat-center .cat:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 5rem;
  }

  .cat-center .cat img {
    width: 100%;
  }
} 

.sectionarrival {
  padding: 2rem 0 10rem 0;
}

.product-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.product-item {
  position: relative;
  width: 27rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.product-thumb img {
  width: 100%;
  height: 31rem;
  object-fit: cover;
  transition: all 500ms linear;
}

.product-info {
  padding: 1rem;
  text-align: center;
}

.product-info span {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 0.2rem;
}

.product-info a {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  transition: all 300ms linear;
  word-break: break-all;
}

.product-info a:hover {
  color: var(--main-color);
}

.product-item .icons {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.product-item .icons li {
  background-color: var(--white);
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 2.3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
}

.product-item .icons li:first-child {
  transition-delay: 0.1s;
}

.product-item .icons li:nth-child(2) {
  transition-delay: 0.2s;
}

.product-item .icons li:nth-child(3) {
  transition-delay: 0.3s;
}

.product-item:hover .icons li {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.product-item .icons li:not(:last-child) {
  margin-right: 0.5rem;
}

.product-item .icons li:hover {
  background-color: var(--main-color);
  color: var(--white);
  transition: all 600ms ease-in-out;
}

.product-item .icons li:nth-child(2):hover a i {
  color: var(--white);
  transition: all 600ms ease-in-out;
}

.product-item .overlay {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: -1;
  width: 100%;
}

.product-item .overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease;
}

.product-item:hover .overlay::after {
  visibility: visible;
  opacity: 1;
}

.product-item:hover .product-thumb img {
  transform: scale(1.1);
}

@media (max-width: 567px) {
  .product-center {
    max-width: 100%;
    padding: 0 1rem;
  }

  .product-item {
    width: 40%;
    margin-bottom: 3rem;
    margin-right: 2rem;
  }

  .product-item img {
    height: 20rem;
  }

  .product-item .icons li {
    padding: .5rem 1rem;
    font-size: 1.8rem;
  }
}

.banner {
  position: relative;
  background-color: rgba(233, 215, 211, 0.5);
  padding: 14rem;
}

.banner .right img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75rem;
}

.banner .trend,
.banner p {
  display: block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.banner h1 {
  font-size: 5.4rem;
  color: var(--black);
  margin-bottom: 1.5rem;
}

.btn-2 {
  background-color: var(--black);
  color: white;
  display: inline-block;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.banner .button {
  display: inline-block;
  margin-top: 2rem;
  padding: 1.5rem;
}

#galeria {
  scroll-margin-top: 80px;
}

.galeriacim {
  background-color: rgba(233, 215, 211, 0.5);
}

.heading2 {
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 4rem;
  padding: 2rem;
}

.heading2 span {
  color: var(--main-color);
  text-transform: uppercase;
}

@media (max-width: 1500px) {
  .banner {
    padding: 14rem;
  }

  .banner .right img {
    right: 3rem;
    width: 70rem;
    z-index: -1;
  }

  .banner .left h1 {
    z-index: 1;
  }
}

@media (max-width: 996px) {
  .banner {
    padding: 8rem 2rem;
  }

  .banner .trend,
  .banner p {
    font-size: 1.5rem;
  }

  .banner h1 {
    font-size: 4rem;
  }

  .banner .right img {
    right: -6%;
    width: 50rem;
  }
}

@media (max-width: 768px) {
  .banner {
    display: grid;
    grid-template-columns: 1fr;
    height: 80vh;
  }

  .banner .left {
    width: 100%;
    margin-bottom: 3rem;
  }

  .banner .right {
    flex: 0 0 50%;
  }

  .banner .right img {
    right: 0;
    width: 50rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 567px) {
  .banner {
    padding: 8rem 5rem;
  }

  .banner .trend,
  .banner p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .banner h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .banner .btn {
    padding: 0.8rem 1.7rem;
    font-size: 1.4rem;
  }

  .banner .right img {
    width: 45rem;
  }
}

.contact {
  background: var(--black);
  color: white;
  padding: 10rem 20rem;
}

.contact .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.contact .row .col h2 {
  margin-bottom: 1.5rem;
}

.contact .row .col p {
  width: 70%;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn-1 {
  background-color: var(--bg);
  color: var(--black);
  display: inline-block;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.btn-1:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: all 200ms ease-in-out;
}

.contact form div {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.contact form input {
  font-family: 'Poppins', sans-serif;
  text-indent: 2rem;
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem 0;
  outline: none;
  border: none;
}

.contact form button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--main-color);
  color: var(--white);
  margin: 0.5rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  transition: all 200ms ease-in-out;
}
.contact form button:hover{
  cursor: pointer;
  transform: scale(1.01);
  transition: all 200ms ease-in-out;
}

#kapcsolat {
  scroll-margin-top: 100px;
}

@media (max-width: 996px) {
  .contact {
    padding: 8rem;
  }
}

@media (max-width: 768px) {
  .contact .row {
    grid-template-columns: 1fr;
    gap: 5rem 0;
  }

  .contact form div {
    width: 100%;
  }
}

@media (max-width: 567px) {
  .contact {
    padding: 8rem 1rem;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: red;
}

.popup2 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--white);
  padding: 50px;
  border-radius: 10px;
  z-index: 999;
  width: 70%;
  animation: slideInOut 0.5s ease;
}

.popup-content2 {
  text-align: center;
}

.popup-content2 h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.popup-content2 p {
  margin: 10px 0;
  font-size: 18px;
}

@keyframes slideInOut {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.sectionfilling {
  padding: 6rem;
  background-color: var(--bg);
}

.footer {
  padding: 7rem 1rem;
  background-color: var(--main-color);
}

footer .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 99.6rem;
  margin: 0 auto;
}

.footer .col {
  flex-direction: column;
  color: var(--white);
  align-items: center;
}

.footer .col:last-child {
  flex-direction: row;
  justify-content: center;
}

.footer .col:last-child span {
  font-size: 2.5rem;
  margin-right: 0.5rem;
  color: var(--white);
}

.footer .col a {
  color: var(--white);
  font-size: 1.5rem;
  padding: 0.5rem;
}

.footer .col h4 {
  margin-bottom: 1rem;
}

.footer .col:nth-child(3) {
  flex-direction: column;
  color: var(--white);
  align-items: center;
}

.footer .col span {
  margin-bottom: 1rem;
}

.footer .col span i {
  font-size: 5rem;
  color: var(--white);
}

@media (max-width: 567px) {
  footer .row {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}

.section .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.all-products .top select {
  font-family: 'Poppins', sans-serif;
  width: 20rem;
  padding: 1rem;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
  border-radius: 0.5rem;
}

form {
  position: relative;
  z-index: 1;
}

form span {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 0;
}

#sortSelect {
  width: 20rem;
}

@media (max-width: 768px) {
  .all-products .top select {
    width: 15rem;
  }

  #sortSelect {
    width: 18rem;
  }
}

.product-detail .details {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 7rem;
}

.product-detail .left {
  display: flex;
  flex-direction: column;
}

.product-detail .left .main {
  text-align: center;
  background-color: #f6f2f1;
  margin-bottom: 2rem;
  height: 45rem;
}

.product-detail .left .main img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-detail .right span {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.product-detail .right h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.product-detail .right .price {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 2rem;
}

.product-detail .right div {
  display: inline-block;
  position: relative;
  z-index: -1;
}

.product-detail .right select {
  font-family: 'Poppins', sans-serif;
  width: 20rem;
  padding: 0.7rem;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
}

.product-detail form {
  margin-bottom: 2rem;
  z-index: 0;
}

.product-detail form span {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 0;
}

.product-detail .form {
  margin-bottom: 3rem;
}

.product-detail .form input {
  padding: 0.8rem;
  text-align: center;
  width: 3.5rem;
  margin-right: 2rem;
}

.product-detail .form .addCart {
  font-family: 'Inter', sans-serif;
  background: var(--white);
  padding: 0.8rem 4rem;
  color: var(--black);
  border-radius: 3rem;
  font-weight: 700;
  border: 0.2px var(--black) solid;
  transition: all 0.2s ease-in-out;
}

.product-detail .form .addCart:hover {
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
  transition: all 0.2s ease-in-out;
}

#termek_nincs_raktaron {
  color: red;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

#cartMessage {
  color: #6ebe02;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.visible {
  visibility: visible;
}


.product-detail h4 {
  margin-bottom: 2rem;
}

.product-detail h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.product-detail .right p {
  text-align: center;
  word-break: break-all;
}


@media (max-width: 996px) {
  .product-detail .left {
    width: 30rem;
    height: 45rem;
  }

  .product-detail .details {
    gap: 3rem;
  }
}

@media (max-width: 650px) {
  .product-detail .details {
    grid-template-columns: 1fr;
  }

  .product-detail .right {
    margin-top: 1rem;
  }

  .product-detail .left {
    width: 100%;
    height: 45rem;
  }

  .product-detail .details {
    gap: 3rem;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: 0.1s;
  transform: scale(1);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;
  height: 55rem;
  transform: translate(-50%, -50%);
  padding: 1.6rem;
  display: table;
  overflow: hidden;
  background-color: var(--white);
}

.popup-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.5rem;
  background-color: var(--bg);
  border-radius: 50%;
  cursor: pointer;
}

.popup-close {
  font-size: 3rem;
  color: black;
  transition: all 0.3s ease-in-out;
}

.popup-close:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.popup-left {
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

.popup-right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup-img-container {
  width: 100%;
  overflow: hidden;
}

.popup-img-container img.popup-img {
  display: block;
  width: 60rem;
  height: 45rem;
  max-width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.right-content {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.right-content h1 {
  font-size: 4rem;
  color: #000;
  margin-bottom: 1.6rem;
}

.right-content p {
  font-size: 1.6rem;
  color: #555;
  margin-bottom: 1.6rem;
}

.popup-form {
  width: 100%;
  padding: 1.5rem 0;
  text-indent: 1rem;
  margin-bottom: 1.6rem;
  border-radius: 3rem;
  background-color: var(--bg);
  color: black;
  font-size: 1.8rem;
  border: none;
}

.popup-form::placeholder {
  color: black;
}

.popup-form:focus {
  outline: none;
}

.right-content a:link,
.right-content a:visited {
  display: inline-block;
  padding: 1.8rem 5rem;
  border-radius: 3rem;
  font-weight: 700;
  color: var(--black);
  background-color: var(--bg);
  border: 1px solid var(--grey2);
  transition: 0.3s;
}

.right-content a:hover {
  background-color: var(--black);
  border: 1px solid var(--grey2);
  color: var(--white);
}

.feliratkozasGomb {
  display: inline-block;
  padding: 1.8rem 5rem;
  border-radius: 3rem;
  font-weight: 700;
  color: var(--black);
  background-color: var(--bg);
  border: 1px solid var(--grey2);
  transition: 0.3s;
}

.feliratkozasGomb:hover {
  background-color: var(--black);
  border: 1px solid var(--grey2);
  color: var(--white);
  cursor: pointer;
}

.hide-popup {
  transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1200px) {
  .right-content {
    width: 100%;
  }

  .right-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1.3rem;
  }
}

@media (max-width: 998px) {
  .popup-right {
    width: 100%;
  }

  .popup-left {
    display: none;
  }

  .right-content h1 {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .right-content h1 {
    font-size: 4rem;
  }

  .right-content p {
    font-size: 1.6rem;
  }

  .popup-form {
    width: 90%;
    margin: 0 auto;
    padding: 1.8rem 0;
    margin-bottom: 1.5rem;
  }

  .goto-top:link,
  .goto-top:visited {
    right: 5%;
    bottom: 5%;
  }
}

@media (max-width: 568px) {
  .popup-right {
    padding: 0 1.6rem;
  }

  .popup-content {
    height: 35rem;
    width: 90%;
    margin: 0 auto;
  }

  .right-content {
    width: 100%;
  }

  .right-content h1 {
    font-size: 3rem;
  }

  .right-content p {
    font-size: 1.4rem;
  }

  .popup-form {
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 1.3rem;
  }

  .right-content a:link,
  .right-content a:visited {
    padding: 1.5rem 3rem;
  }

  .popup-close {
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
  }
}

.nav-item.with-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: var(--bg);
  min-width: max-content;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 12.4rem;
  text-align: center;
  border-radius: 0.5rem;
}

.dropdown-content a {
  color: black;
  padding: 1rem 2rem;
  text-decoration: none;
  display: block;
  transition: all 400ms ease-in-out;
  border-radius: 0.5rem;
}

.scrolled-dropdown {
  background-color: var(--main-color);
}

.scrolled-dropdown a {
  color: var(--white);
  padding: 1rem 2rem;
  text-decoration: none;
  display: block;
  transition: all 400ms ease-in-out;
  border-radius: 0.5rem;
}

.dropdown-content a:hover {
  background-color: var(--main-color);
  color: var(--white);
  transition: all 400ms ease-in-out;
  transform: scaleX(1.2);
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
}

.cart {
  margin: 10rem auto;
  margin-bottom: 20rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: center;
  padding: 0.5rem;
  color: #fff;
  background-color: var(--main-color);
  font-weight: normal;
}

td {
  padding: 1rem 0.5rem;
}

td input {
  width: 5rem;
  height: 3rem;
  padding: 0.5rem;
}

td img {
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
}

.total-price {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 2rem;
}

.total-price table {
  border-top: 3px solid var(--main-color);
  width: 100%;
  max-width: 35rem;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.checkout {
  display: inline-block;
  background-color: var(--main-color);
  color: var(--white);
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-radius: 0.5rem;
  border: 1px solid var(--black);
}

.checkout:hover {
  color: var(--main-color);
  background-color: var(--white);
  transition: all 300ms ease-in-out;
  transform: scaleX(1.02);
}

.product-thumbnail {
  width: 120px;
  height: 120px;
}

#cart-table th {
  text-align: center;
}

#cart-table td {
  text-align: center;
}

.removeButton {
  font-size: 16px;
  border: none;
  background: none;
  cursor: pointer;
  color: orangered;
  transition: all 100ms ease-in-out;
}

.removeButton:hover {
  transform: scaleX(1.01);
  transition: all 100ms ease-in-out;
}

@media (max-width: 567px) {
  .product-thumbnail {
    width: 50px;
    height: 50px;
  }

  .container .cart,
  #cart-table th,
  #cart-table td {
    font-size: 12px;
  }

  .total-price,
  #total-price-container td {
    font-size: 12px;
  }

  .container .cart .total-price,
  #total-price-container a {
    font-size: 12px;
  }
}

.noProductFound {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 2rem;
  margin-top: 10rem;
}

.sectionfillingSearch {
  padding: 5rem;
  background-color: var(--bg);
}

#keresettTermek {
  margin-bottom: 10rem;
}